repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=1024"]

  - repo: local
    hooks:
      - id: ruff
        name: ruff (check + fix)
        entry: python -m ruff check --fix .
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format
        entry: python -m ruff format .
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: mypy
        name: mypy
        entry: python -m mypy --config-file=pyproject.toml
        language: system
        pass_filenames: false
        stages: [ pre-commit ]

      - id: pytest
        name: pytest
        entry: python -m pytest -q
        language: system
        pass_filenames: false
        stages: [pre-commit]
